body {
    font-family: Arial, sans-serif;
    background-color: #ffffe0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 縦に配置 */
    align-items: center;
    /* 中央揃え */
    height: 100vh;
}

.banner {
    font-size: 24px;
    /* タイトルサイズ */
    margin-bottom: 10px;
    /* 下マージン */
}

.image-container img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#dodai-image {
    max-width: 100%;
    width: 100px;
    height: auto;
}

#time-input {
    width: 50px;
    margin-right: 16px;
}

.dropdowns {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

#tag-select {
    width: 50px;
}

.flex-container label {
    margin-right: 8px;
}

.flex-container select,
.flex-container input[type="text"],
.flex-container input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
}

#custom-tag {
    display: none;
    width: 120px;
    margin-right: 8px;
}

#add-tag-btn {
    display: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

#add-tag-btn:hover {
    background-color: #e0e0e0;
}

#delete-tag-btn {
    display: none;
    /* 初期状態では非表示 */
}

.start-button button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

#task-info {
    margin-bottom: 20px;
}

#remaining-time {
    font-size: 24px;
    font-weight: bold;
}