body {
    font-family: Arial, sans-serif;
    background-color: #ffffe0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 100%;
    /* 親要素の幅に合わせる */
    aspect-ratio: 9 / 16;
    /* アスペクト比を16:9に設定 */
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffcc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.banner {
    padding: 10px;
    margin-bottom: 5px;
}

.image-container img {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

#dodai-image {
    max-width: 100%;
    width: 100px;
    /* 横幅を300pxに指定 */
    height: auto;
    /* 高さは自動調整（アスペクト比を保つ） */
}

#time-input {
    width: 80px;
    /* 幅を80pxに設定 */
    margin-right: 16px;
    /* ボタンとの間の余白を保つために追加 */
}


.dropdowns {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    /* 垂直方向の中央揃え */
    margin-bottom: 16px;
    /* 下部の余白 */
}

.flex-container label {
    margin-right: 8px;
    /* ラベルとセレクトボックスの間の余白 */
}

.flex-container select,
.flex-container input {
    margin-right: 16px;
    /* ボタンとの間の余白 */
}


.start-button button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
}

#task-info {
    margin-bottom: 20px;
}

#remaining-time {
    font-size: 24px;
    font-weight: bold;
}